[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
wl-config-manager = "*"
wl-version-manager = "*"
soundfile = "*"
openai = "*"
jsonschema = "*"

[dev-packages]

[requires]
python_version = "3.13"
